@font-face {fonta-family: 'myfont'; src: url('../font/TESLA.ttf');}

html {
    height: 100%;
  }
  body {
    background: #E2E4E7;
    padding: 0;
    text-align: center;
    font-family: 'open sans';
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
  }
  
  .wrapper {
      height: 100% !important;
      height: 100%;
      margin: 0 auto; 
      overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  
  h1, h2 {
    width: 100%;
    float: left;
  }
  h1 {
    margin-top: 100px;
    color: #000;
    margin-bottom: 5px;
    font-size: 70px;
    letter-spacing: -4px;
    font-weight: 100;
  }
  h1 span {
    font-size: 26px;
    margin: 0 5px;
    text-transform: capitalize;
    background: rgba(0,0,0,0.85);
    display: inline-block;
    color: #6D461D;
    border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    padding: 3px 10px;
  }
  h2 {
    color: #fff;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .pointer {
    color: #9b59b6;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 15px;
  }
  code {
    margin: 20px 1%;
    float: left;
    width: 48%;
    height: 105px;
    background: rgba(0,0,0,0.1);
    border: rgba(0,0,0,0.05) 5px solid;
    border-radius: 5px;
    padding:5px;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  code.html {
    color: #7EC9E6;
  }
  code.js {
    color: #FFAD00;
  }

  .main {
    float: left;
    width: 100%;
    margin: 0 auto;
  }
  
  .main h1 {
    padding:150px 50px;
    float: left;
    width: 100%;
    font-size: 45px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-weight: 100;
    color: white;
    margin: 0;
  }
 
  .main h1.demo1 {
    background: #1ABC9C;
  }
  
  .reload.bell {
    font-size: 12px;
    padding: 20px;
    width: 45px;
    text-align: center;
    height: 47px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
  }
  
  .reload.bell #notification {
    font-size: 25px;
    line-height: 140%;
  }
  
  .reload, .btn{
    display: inline-block;
    border: 4px solid #A2261E;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #CC3126;
    display: inline-block;
    line-height: 100%;
    padding: 0.7em;
    text-decoration: none;
    color: #fff;
    width: 100px;
    line-height: 140%;
    font-size: 17px;
    font-family: open sans;
    font-weight: bold;
  }
  .reload:hover{
    background: #444;
  }
  .btn {
    width: 200px;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    background: rgba(3, 3, 3, 0.75);
  }
  .clear {
    width: auto;
  }
  .btn:hover, .btn:hover {
    background: #444;
  }
  .btns {
    width: 410px;
    margin: 50px auto;
  }
  .credit {
    text-align: left;
    color: rgba(255,255,255);
    padding: 5px 20px;
    width: 410px;
    font-style: italic;
    opacity: 0.7;
    clear: both;
    margin-top: 75px;
    float: left;
    /* border: 4px solid rgb(255, 255, 255); */
    height: 300px;
  }
  .credit a {
    color: rgba(0,0,0,0.85);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }
  
  .back {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    font-weight: bold;
    font-size: 13px;
    color: #000;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .back:hover {
    color: black;
    background: rgba(255, 255, 255, 0.5);
  }
  
  header {
    position: relative;
    z-index: 10;
  }

  .main section.page1 .page_container {
    position: relative;
    top: 20%;
    left: 10%;
  }

  .main section.page2 .page_container {
    position: relative;
    /* margin: 0 auto 0; */
    height: 100%;
  }

  .main section  {
    overflow: hidden;
  }
    
  .main section.page1 {
    background:rgb(175,233,221);
  }

  .main section.page1 .bg_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .main section.page1 .bg_wrap #cloud {
    /* border: solid 1px; */
    top: 10%;
    right: 20%;
    position: absolute;
  }

  .main section.page1 .bg_wrap #rig {
    /* border: solid 1px; */
    position: absolute;
    right: 7%;
    bottom: 0%;
  }

  .main section.page1 .bg_wrap #wave {
    /* border: solid 1px; */
    bottom: 0%;
    right: 0%;
    position: absolute;
    z-index: 1;
    animation-name: waveanim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes waveanim {
    from{ transform: translateX(0);}
    to{ transform: translateX(50%);}
  }
  .main section.page1 .bg_wrap .usv {
    position: absolute;
    bottom: 16%;
    right: 30%;
    z-index: 0;
    animation: usvanimupdown 5s linear forwards infinite;
  }
  .main section.page1 .bg_wrap #usv {    
    animation: usvanimyaw 3s linear forwards infinite;
  }
  .main section.page1 .bg_wrap #usvmove {    
    animation: usvforward 50s linear forwards infinite;
  }
  @keyframes usvanimyaw {
    0%{ 
      transform: rotate(3deg);
    }
    25%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(-3deg);
    }
    75%{
      transform: rotate(0deg);
    }
    100%{ 
      transform: rotate(3deg);
    }
  }
  @keyframes usvanimupdown {
    0%{ 
      transform: translateY(0%);
    }
    25%{
      transform: translateY(-5%);
    }
    50%{ 
      transform: translateY(0%);
    }
    75%{
      transform: translateY(5%);
    }
    100%{
      transform: translateY(0%);
    }
  }
  @keyframes usvforward {
    0% {
      transform: translateX(0%);
    }
    49% {
      transform: translateX(-200%);
    }
    50% {
      transform: translateY(500%);
    }
    51% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .main section.page1 .rig {
    position: absolute;
    border: solid 1px;
    z-index: 1;
  }

  .main section.page1 h1 {
    float: none;
    width: 650px;
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: black;
  }
  .main section.page1 h2 {
    font-size: 18px;
    display: block;
    color: rgba(0,0,0,0.85);
    text-align: center;
    width: 435px;
    line-height: 160%;
  }
  .main section.page2 {
    background-color: rgb(77, 77, 77);
  }
  .main section.page2 .page_container {
    margin-top: 10%;
    position: relative;
    width: 100%;
    /* height: 100%; */
    /* border: solid 1px rgb(255, 255, 255); */
  }
  .main section.page2 .page_container .bigrow:after {
    content:"";
    display: block;
    clear: both;
  }
  .main section.page2 .page_container .bigrow .columns {
    float: left;
    width: 50%;   
    color: ivory;
  }
  .main section.page2 .page_container .bigrow .columns h2 {
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .main section.page2 .page_container .bigrow .columns .row{
    height: 100px;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .main section.page2 .page_container .bigrow .columns .row .s {
    position: relative;
    font-size: 20px;
    /* border: solid 2px rgb(255, 255, 255); */
  }
  .main section.page2 .page_container .bigrow .columns .row .m {
    position: relative;
    font-size: 30px;
    top: 10px;
    /* border: solid 2px rgb(255, 255, 255); */
  }
  .main section.page2 .page_container .bigrow .columns .l {
    position: relative;
    font-size: 60px;
    /* border: solid 2px rgb(255, 255, 255); */
  }
  .main section.page2 .page_container footer {
    position: absolute;
    width: 100%;
    bottom: 100px;
    height: 200px;
    left: 0px;
    background-color:#fff ;
  }
  .main section.page2 .page_container footer p{
    font-size: 20px;
    font-family: Roboto;
    color: black;
  }
  .main section.page2 .page_container footer img {
    margin: 10px;
  }
  .main section.page2 .page_container footer .sidebox {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 0 0 15px 0;
    min-width: 300px;
  }
  .main section.page2 .page_container footer .sidebox ul {
    position: relative;
    margin: 5px auto;
  }
  .main section.page2 .page_container footer .sidebox ul li {
    margin: 10px 30px;
    list-style: none;
    font-size: 40px;
    color: #000;
    display: inline-block;
  }
  body.disabled-onepage-scroll .onepage-wrapper  section {
    min-height: 100%;
    height: auto;
  }
  
  body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
    padding: 20px;
    margin-top: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body.disabled-onepage-scroll  section .page_container h1{
    text-align: center;
    font-size: 50px;
    width: 100%;
  }
  body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
    text-align: center;
    width: 100%;
  }
  
  body.disabled-onepage-scroll .main section.page1 > img {
    position: absolute;
    width: 80%;
    left: 10%;
  }
  
  body.disabled-onepage-scroll .main section > img {
    position: relative;
    max-width: 80%;
    bottom: 0;
  }
  body.disabled-onepage-scroll code {
    width: 95%;
    margin: 0 auto 25px;
    float: none;
    overflow: hidden;
  }
  
  body.disabled-onepage-scroll .main section.page3 .page_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
  }
  .main section.page1 h1 strong {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    padding: 10px 10px;
    display: inline-block;
    line-height: 140%;
    background: #FFF;
    border-radius: 3px;
    position: relative;
    top: -13px;
    font-family: 'Audiowide', cursive;
  }
  
  .text-btn {
    display: block;
    color: #000;
    border-bottom: 2px dotted #000;
    max-width: 300px;
    margin: 30px auto 30px;
    line-height: 200%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }

body .one .bsa_it_ad { background: transparent; border: none; font-family: inherit; padding: 0 15px 0 10px; margin: 0; text-align: center; }
body .one .bsa_it_ad:hover img { -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; }
body .one .bsa_it_ad .bsa_it_i { display: block; padding: 0; float: none; margin: 0 0 5px; }
body .one .bsa_it_ad .bsa_it_i img { padding: 0; border: none; }
body .one .bsa_it_ad .bsa_it_t { padding: 6px 0; }
body .one .bsa_it_ad .bsa_it_d { padding: 0; font-size: 12px; color: #333; }
body .one .bsa_it_p { display: none; }
body #bsap_aplink, body #bsap_aplink:hover { display: block; font-size: 10px; margin: 12px 15px 0; text-align: center; }

.ads {
position: fixed;
left: 10px;
bottom: 10px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
z-index: 99;
text-align: center;
max-width: 200px;
}

.ads a {
color: black;
}

.ad-header {
margin: 0 0 -2px 0px;
background: white;
border-radius: 3px 3px 0 0;
overflow: hidden;
}
.ad-header a {
float: right;
border-left: 1px solid #f3f3f3;
padding:10px;
line-height: 100%;
font-weight: bold;
text-transform: uppercase;
text-align: center;
color: black;
}
.ad-header a:hover {
background: #eee;
}

.ads .promo {
position: absolute;
top: -195px;
left: 0;
}

.socials {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    float: left;
    padding: 9px 5px 5px;
    margin: 0 0 60px 0;
}
.socials > * {
    display: inline !important;
}
.socials .fb-like {
    top: -5px;
    min-width: 85px;
    text-align: left;
}
.socials .fb-like > span {
    vertical-align: top;
}
.socials .twitter-share-button {
    width: 85px  !important;
}
    
@media only screen and (min-width: 320px) and (max-width: 759px) {
    #carbonads {
    float: none;
    margin: 0 auto;
    max-width: 330px;
    }
    #carbonads span {
    position: relative;
    }
    #carbonads > span {
    max-width: none;
    }
    .carbon-img {
    float: left;
    margin: 0;
    }

    .carbon-img img {
    max-width: 130px !important;
    }
    .carbon-text {
    float: left;
    margin-bottom: 0;
    padding: 8px 20px;
    text-align: left;
    max-width: calc(100% - 130px - 3em);
    }
    .carbon-poweredby {
    left: 130px;
    bottom: 0;
    display: block;
    width: 100%;
    }
}